#wrapper {
    margin: 0 auto;

    align-content: center;
}

h1 {
    text-align: center;
}

#book-list {
   text-align: center;
   margin-left: -5%;
   
}

.books {
    list-style-type: none;
}

#add-book, #search-books {
    text-align: center;
}

.delete {
    color:red;
    float: right;
}