/* General Styling */
body{
    background-color: #121212;
    color:whitesmoke;
}

#wrapper {
    margin: 0 auto;
    width: 50%;
    align-content: center;
    border-radius: 20px;
    min-height: 700px;
    padding:0;
    box-shadow: 4px 4px 3px darkgray ;
    background-color: #303030;
}

#page-banner {
    background-color: #505050;
    border-radius: 20px 20px 0 0;
    height: 150px;
    text-align: center;
    padding:0;
}

h1 {
    text-align: center;
}

/* BookList Styling */
#book-list {
    
   text-align: center;

}

ul li {
    max-width: 400px;
    min-height: 45px;
    margin:15px auto;
    list-style: none; 
    border-left: black solid 3px;
    
}

ul li:hover {
    
    border-left: blue solid 3px;
    font-size: 1.1em;
    cursor:default;
}

.author {
    margin:0;
    
}


/* Delete button styling */
.delete {
    background-color: rgb(255, 42, 42);
    color:rgb(235, 235, 235);
    height:25px;
    width: 50px;
    float: right;
    padding-top: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
}

.delete:hover {
    cursor:pointer;
    background-color:rgb(247, 0, 0);
    box-shadow: 1px 1px 1px whitesmoke;
}



/* Forms Styling */
#add-book {
    width:50%;
    margin: 0 auto;
    text-align: center;

}

input {
    border-radius: 20px;
    height: 25px;
    width: 200px;
    text-align: center;
    outline: none;
    background-color: lightgray;
}

input:hover {
    background-color: white;
}

label{
    text-align: left;
    display: inline-block;
}

button {
    margin-top:15px;
    width: 155px;
    height: 35px;
    border-radius: 10px;
    background-color:#184d7a;
    color:white;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
    /* width:157px;
    height: 37px; */
    background-color:#266297;
}

#errorMsg {
    color:rgb(197, 33, 33);
    font-size: large;
}


@media screen and (max-width: 400px){
    #wrapper{
        width: 100%;
        min-height: 500px;
    }    
}