#wrapper {
    margin: 0 auto;

    align-content: center;
}

h1 {
    text-align: center;
}

#book-list {
    
   text-align: center;
  
   
}

ul li {
    width: 300px;
    margin:0 auto;
    list-style: none; 
}
.books {
    
    width
}

#add-book, #search-books {
    text-align: center;
}

.delete {
    color:red;
    float: right;
}